<div>
    <h2>Services</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="service.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Service
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span>Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="finishDate"><span>Finish Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="serviceId"><span>Service</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="performerId"><span>Performer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="service in vm.services track by service.id">
                    <td><a ui-sref="service-detail({id:service.id})">{{service.id}}</a></td>
                    <td>{{service.startDate}}</td>
                        <td>{{service.finishDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="performer-detail({id:service.serviceId})">{{service.serviceId}}</a>
                    </td>
                    <td>
                        <a ui-sref="performer-detail({id:service.performerId})">{{service.performerId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="service-detail({id:service.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="service.edit({id:service.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="service.delete({id:service.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
